/out
/package-lock.json
/yarn.lock
node_modules
node_modules
.next/BUILD_ID
.next/build-manifest.json
.next/export-detail.json
.next/export-marker.json
.next/images-manifest.json
.next/next-server.js.nft.json
.next/package.json
.next/prerender-manifest.json
.next/react-loadable-manifest.json
.next/required-server-files.json
.next/routes-manifest.json
.next/trace
.next/cache/.tsbuildinfo
.next/cache/next-server.js.nft.json
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/index.pack
.next/server/font-manifest.json
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/pages-manifest.json
.next/server/webpack-api-runtime.js
.next/server/webpack-runtime.js
.next/server/chunks/426.js
.next/server/chunks/625.js
.next/server/chunks/664.js
.next/server/chunks/676.js
.next/server/chunks/859.js
.next/server/chunks/886.js
.next/server/chunks/font-manifest.json
.next/server/pages/_app.js
.next/server/pages/_app.js.nft.json
.next/server/pages/_document.js
.next/server/pages/_document.js.nft.json
.next/server/pages/_error.js
.next/server/pages/_error.js.nft.json
.next/server/pages/404.html
.next/server/pages/500.html
.next/server/pages/index.html
.next/server/pages/index.js.nft.json
.next/server/pages/mailaccount.html
.next/server/pages/mailaccount.js.nft.json
.next/server/pages/mailalias.html
.next/server/pages/mailalias.js.nft.json
.next/server/pages/api/hello.js
.next/server/pages/api/hello.js.nft.json
.next/static/chunks/537-dac085158af0bbc0.js
.next/static/chunks/977-dcdc8f48d4c450d9.js
.next/static/chunks/framework-fe99aa755573eedd.js
.next/static/chunks/main-e8df3d0525972854.js
.next/static/chunks/polyfills-c67a75d1b6f99dc8.js
.next/static/chunks/webpack-278e6c9d7f5c1ffc.js
.next/static/chunks/pages/_app-55301b1d3bf11bac.js
.next/static/chunks/pages/_error-fb68742d3cf986b6.js
.next/static/chunks/pages/index-3115f21ac24e9707.js
.next/static/chunks/pages/mailaccount-b40ab0e9131abfbd.js
.next/static/chunks/pages/mailalias-8b9e129646da8b1f.js
.next/static/u7vYZOCtU3zsX6MClC-C7/_buildManifest.js
.next/static/u7vYZOCtU3zsX6MClC-C7/_ssgManifest.js
